<% if (page.hide_copyright !== true) { %>
<div class="post-copyright-card">
    <div class="title">版权声明</div>
    <div class="content">
        本文由 <strong><%= config.author %></strong> 原创发布。禁止未经授权转载。
    </div>
</div>
<% } %>
