:root {
	--color-shadow: rgb(204 177 161 / 60%);
}
body {
	overflow-x: hidden;
}

#nexmoe-content .nexmoe-post-footer {
	background-color: transparent;
}

iframe {
	width: 100%!important;
}

article ul li {
    line-height: 1.5rem;
}


.post-copyright-card {
    padding: 15px 18px;
    margin-top: 20px;
    border-left: 4px solid #6c63ff;
    background: #f9f9ff;
    border-radius: 6px;
    font-size: 14px;
    color: #333;
}

.post-copyright-card .title {
    font-weight: bold;
    margin-bottom: 6px;
    color: #6c63ff;
}


